.container {
    max-width: 1200px;
    margin: auto;
    padding: 5rem 2rem;
}

.presentation {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;

    &__text {
        h2 {
            margin: 1rem;
            color: #fff;
            font-size: 3rem;
            font-weight: 700;

            span {
                -webkit-text-fill-color: transparent;
                -webkit-text-stroke: 1px #fff;
            }
        }

        p {
            margin: 2rem;
            color: #ccc;
        }
    }

    &__image {
        position: relative;

        img {
            max-width: 100%;
            height: auto;
            display: block;
            margin: auto;
            padding: 20px;
            border-radius: 50px;
        }
    }
}

@media screen and (max-width: 768px) {
    .presentation {
        grid-template-columns: repeat(1, 1fr);
    }
}