.btn {
    padding: 1rem 2rem;
    font-size: 1rem;
    color: #fff;
    background-color: #1d4ed8;
    border-radius: 5px;
    transition: all 0.3 ease;
}

.btn:hover {
    background-color: #516ca9;
    transition: all 0.3 ease;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 5rem 2rem;
}

.blur {
    position: absolute;
    box-shadow: 0 0 1000px 50px #1d4ed8;
    z-index: -100;
}

.header {
    position: relative;
    padding-top: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
}

.header .content h4 {
    margin-bottom: 1rem;
    color: #fff;
    font-size: 1rem;
    font-weight: 600;
}

.header .content h2 {
    margin-bottom: 1rem;
    color: #fff;
    font-size: 3rem;
    font-weight: 700;
}

.header .content h2 span{
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px #fff;
}

.header .content p{
    margin-bottom: 2rem;
    color: #ccc;
}

.header .image {
    position: relative;
}

.header .image img {
    max-width: 500px;
    margin: auto;

}