@import './sass/base/reset';
@import './sass/base/typography';
@import './sass/components/animation';
@import './sass/components/button';
@import './sass/components/loader';
@import './sass/utils/variables';


body {
    font-family: 'Electrolize', sans-serif;
    background-color: black;
    color: #ffffff;
    display: flex;
    flex-direction: column;
  }

  .app-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px 80px;
    background-color: black;
    border-bottom: 2px solid grey;
    margin-bottom: 20px;
  }

  footer {
    border-top: 2px solid grey;
    background-color: black;
    width: 100%;
  }